body {
  padding-top: 60px;
  padding-bottom: 40px;
}

a { 
    color: #565656;
}


/* ***************************************
    Panel container styles

*************************************** */
.panel{

    background-color: #000000;
}

.panel-default {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    
    border: 2px solid #444444;
    display: inline-block;

    width: 280px;
}

.panel-default>.panel-heading {
    color: #ededed;
    font-weight: medium;
    font-size: 1.2em;

    background: 
     linear-gradient(#3d3d3d, transparent 60%),
     linear-gradient(0deg, #242424, transparent), #282828;
}

.panel-heading {
    color: white;

    padding: 15px 25px;
    
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    border-width: 1px;
    border-color: #131313;

    border-bottom:2px solid #131313 !important;
    
}

.panel-footer{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #202020;

    height: 45px;
}


/* ***************************************
    List item styles

*************************************** */

.list-group-item {
    border: 0 0 1px 0;
    border-color: #131313;
    background-color: #282828;
    height: 45px;
}

.list-group-item.alt{
    background-color: #1c1c1c !important;
}

.list-group-item:hover {
    background-color: #484848 !important;
}

.list-group-item:last-child:hover{
    background: #484848 !important;
}

.list-group-item:last-child{
    background: 
     linear-gradient(0deg, #121212, transparent 20%), #282828;
}

.list-group-item:link a {
    color: #565656;}

.list-group-item:hover a {
    color: #08e7e2;
}

    /* StatusOn: #00fe2c   // green
       StatusOff: #ff0207  // Red
       StatusAway: #c1bb1b // yellew */

 /*   .dot {

        background-color: slategray;
        border: 1px solid slategray;
        border-radius: 50%;
        display: inline-block;
        list-style-position: inside;

        height: 8px;
        /* top right bottom left 
        margin: 0px 8px 0px 0px;
        width: 8px;
    }*/

    .lname {
        width: 6em;
        display: inline-block;
        margin: 0;
        color: white;
        text-decoration: none;
    }

    .statusOn, .statusOff, .statusAway {
        padding-right: 1em;
    } 

    .statusOn:after  {
        content:'●';
        color: #00fe2c;
        display: inline-block;
    }

     .statusOff:after {
        content:'●';
        color: #ff0207;
        display: inline-block;
    }
     .statusAway:after {
        content:'●';
        color: #c1bb1b;
        display: inline-block;
    }


/* ***************************************
    Hover / drop down item styles

*************************************** */

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu{
    color: #ededed;
    margin-top: 0;
    padding-top: 0px;
    margin-left: 7.5em;
    background-color: #484848;
    border-radius: 0;
    border-top: 1px solid #484848;
    width:12.3em;
}

.dropdown-menu li {
    /*visibility: visible;*/
    margin-left: 1em;
    display: block;
}
.divider {
    border-left:1px solid #1c1c1c;
    height: 45px;
    width: 2px;
    padding: 0;
    display: inline-block;
}


.right {
    float: right;
    margin-right: 12px
}

/*.modal {
    position: relative;
    top: 0px;
    left: -233px;
    opacity: 1;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);

    height: 280px;
    width:  280px;

    display: inline-block;
}*/